/* line 121, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button, button, input[type="submit"], input[type="button"], a.button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background: -moz-linear-gradient(top, #ffffff, #dddddd);
  background: -o-linear-gradient(top, #ffffff, #dddddd);
  background: -ms-linear-gradient(top, #ffffff, #dddddd);
  background: linear-gradient(top, #ffffff, #dddddd);
  background-color: #dddddd;
  border: #dddddd 1px solid;
  padding: 8px 20px;
  display: inline-block;
  line-height: 1.2em;
  color: #003f5e;
  cursor: pointer;
  min-width: auto;
  max-width: 220px;
  text-decoration: none;
}
/* line 18, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover, a.button:hover {
  background: #e2e2e2;
  border-color: #d0d0d0;
}
/* line 23, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button i, button i, input[type="submit"] i, input[type="button"] i, a.button i {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  line-height: .5em;
}
/* line 31, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.big i, .button.medium i, button.big i, button.medium i, input[type="submit"].big i, input[type="submit"].medium i, input[type="button"].big i, input[type="button"].medium i, a.button.big i, a.button.medium i {
  display: block;
  font-size: 50px;
  margin: 0 auto;
  padding: 10px;
}
/* line 40, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.medium i, button.medium i, input[type="submit"].medium i, input[type="button"].medium i, a.button.medium i {
  font-size: 34px;
}
/* line 45, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.disabled, button.disabled, input[type="submit"].disabled, input[type="button"].disabled, a.button.disabled {
  background: #EEE;
  border: #CCC 1px solid;
  color: #CCC;
  cursor: default;
}
/* line 52, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.print, button.print, input[type="submit"].print, input[type="button"].print, a.button.print {
  padding: 10px;
}
/* line 55, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.print i, button.print i, input[type="submit"].print i, input[type="button"].print i, a.button.print i {
  font-size: 1.5em;
}
/* line 60, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.app, button.app, input[type="submit"].app, input[type="button"].app, a.button.app {
  padding: 20px 10px;
  width: 150px;
  min-height: 90px;
  vertical-align: top;
  line-height: 1.3em;
  margin: 10px;
  text-align: center;
}
/* line 70, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.arrow, button.arrow, input[type="submit"].arrow, input[type="button"].arrow, a.button.arrow {
  position: relative;
  padding: 9px 5px;
  margin-left: -10px;
  background: #81a726;
  color: white;
  border-color: #BBB;
}
/* line 78, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.arrow i, button.arrow i, input[type="submit"].arrow i, input[type="button"].arrow i, a.button.arrow i {
  font-size: 2em;
}
/* line 82, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.arrow #arrow-button, button.arrow #arrow-button, input[type="submit"].arrow #arrow-button, input[type="button"].arrow #arrow-button, a.button.arrow #arrow-button {
  width: 0;
  height: 0;
  top: 0;
  right: -17px;
  border-bottom: 34px solid transparent;
  border-top: 33px solid transparent;
  border-left: 18px solid #81a726;
  position: absolute;
}
/* line 93, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.arrow #arrow-border-button, button.arrow #arrow-border-button, input[type="submit"].arrow #arrow-border-button, input[type="button"].arrow #arrow-border-button, a.button.arrow #arrow-border-button {
  width: 0;
  height: 0;
  top: 0;
  right: -18px;
  border-bottom: 34px solid transparent;
  border-top: 33px solid transparent;
  border-left: 18px solid #BBB;
  position: absolute;
}
/* line 104, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.arrow.disabled, button.arrow.disabled, input[type="submit"].arrow.disabled, input[type="button"].arrow.disabled, a.button.arrow.disabled {
  background: #EEE;
  border: #CCC 1px solid;
  color: #CCC;
  cursor: default;
}
/* line 110, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.arrow.disabled #arrow-button, button.arrow.disabled #arrow-button, input[type="submit"].arrow.disabled #arrow-button, input[type="button"].arrow.disabled #arrow-button, a.button.arrow.disabled #arrow-button {
  border-left: 18px solid #eee;
}
/* line 114, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.arrow.disabled #arrow-border-button, button.arrow.disabled #arrow-border-button, input[type="submit"].arrow.disabled #arrow-border-button, input[type="button"].arrow.disabled #arrow-border-button, a.button.arrow.disabled #arrow-border-button {
  border-left: 18px solid #ccc;
}
/* line 124, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.task, button.task, input[type="submit"].task, input[type="button"].task, a.button.task {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0083c4), color-stop(100%, #0083c4));
  background: -webkit-linear-gradient(top, #0083c4, #0083c4);
  background: -moz-linear-gradient(top, #0083c4, #0083c4);
  background: -o-linear-gradient(top, #0083c4, #0083c4);
  background: -ms-linear-gradient(top, #0083c4, #0083c4);
  background: linear-gradient(top, #0083c4, #0083c4);
  background-color: #0083c4;
  border: #0083c4 1px solid;
  padding: 8px 20px;
  display: inline-block;
  line-height: 1.2em;
  color: white;
  cursor: pointer;
  min-width: auto;
  max-width: 220px;
  text-decoration: none;
}
/* line 18, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.task:hover, button.task:hover, input[type="submit"].task:hover, input[type="button"].task:hover, a.button.task:hover {
  background: #008ace;
  border-color: #0072ab;
}
/* line 23, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.task i, button.task i, input[type="submit"].task i, input[type="button"].task i, a.button.task i {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  line-height: .5em;
}
/* line 31, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.task.big i, .button.task.medium i, button.task.big i, button.task.medium i, input[type="submit"].task.big i, input[type="submit"].task.medium i, input[type="button"].task.big i, input[type="button"].task.medium i, a.button.task.big i, a.button.task.medium i {
  display: block;
  font-size: 50px;
  margin: 0 auto;
  padding: 10px;
}
/* line 40, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.task.medium i, button.task.medium i, input[type="submit"].task.medium i, input[type="button"].task.medium i, a.button.task.medium i {
  font-size: 34px;
}
/* line 45, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.task.disabled, button.task.disabled, input[type="submit"].task.disabled, input[type="button"].task.disabled, a.button.task.disabled {
  background: #EEE;
  border: #CCC 1px solid;
  color: #CCC;
  cursor: default;
}
/* line 52, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.task.print, button.task.print, input[type="submit"].task.print, input[type="button"].task.print, a.button.task.print {
  padding: 10px;
}
/* line 55, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.task.print i, button.task.print i, input[type="submit"].task.print i, input[type="button"].task.print i, a.button.task.print i {
  font-size: 1.5em;
}
/* line 60, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.task.app, button.task.app, input[type="submit"].task.app, input[type="button"].task.app, a.button.task.app {
  padding: 20px 10px;
  width: 150px;
  min-height: 90px;
  vertical-align: top;
  line-height: 1.3em;
  margin: 10px;
  text-align: center;
}
/* line 70, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.task.arrow, button.task.arrow, input[type="submit"].task.arrow, input[type="button"].task.arrow, a.button.task.arrow {
  position: relative;
  padding: 9px 5px;
  margin-left: -10px;
  background: #81a726;
  color: white;
  border-color: #BBB;
}
/* line 78, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.task.arrow i, button.task.arrow i, input[type="submit"].task.arrow i, input[type="button"].task.arrow i, a.button.task.arrow i {
  font-size: 2em;
}
/* line 82, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.task.arrow #arrow-button, button.task.arrow #arrow-button, input[type="submit"].task.arrow #arrow-button, input[type="button"].task.arrow #arrow-button, a.button.task.arrow #arrow-button {
  width: 0;
  height: 0;
  top: 0;
  right: -17px;
  border-bottom: 34px solid transparent;
  border-top: 33px solid transparent;
  border-left: 18px solid #81a726;
  position: absolute;
}
/* line 93, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.task.arrow #arrow-border-button, button.task.arrow #arrow-border-button, input[type="submit"].task.arrow #arrow-border-button, input[type="button"].task.arrow #arrow-border-button, a.button.task.arrow #arrow-border-button {
  width: 0;
  height: 0;
  top: 0;
  right: -18px;
  border-bottom: 34px solid transparent;
  border-top: 33px solid transparent;
  border-left: 18px solid #BBB;
  position: absolute;
}
/* line 104, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.task.arrow.disabled, button.task.arrow.disabled, input[type="submit"].task.arrow.disabled, input[type="button"].task.arrow.disabled, a.button.task.arrow.disabled {
  background: #EEE;
  border: #CCC 1px solid;
  color: #CCC;
  cursor: default;
}
/* line 110, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.task.arrow.disabled #arrow-button, button.task.arrow.disabled #arrow-button, input[type="submit"].task.arrow.disabled #arrow-button, input[type="button"].task.arrow.disabled #arrow-button, a.button.task.arrow.disabled #arrow-button {
  border-left: 18px solid #eee;
}
/* line 114, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.task.arrow.disabled #arrow-border-button, button.task.arrow.disabled #arrow-border-button, input[type="submit"].task.arrow.disabled #arrow-border-button, input[type="button"].task.arrow.disabled #arrow-border-button, a.button.task.arrow.disabled #arrow-border-button {
  border-left: 18px solid #ccc;
}
/* line 127, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.task:visited, button.task:visited, input[type="submit"].task:visited, input[type="button"].task:visited, a.button.task:visited {
  color: white;
}
/* line 132, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.confirm, button.confirm, input[type="submit"].confirm, input[type="button"].confirm, a.button.confirm {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a1d030), color-stop(100%, #88af28));
  background: -webkit-linear-gradient(top, #a1d030, #88af28);
  background: -moz-linear-gradient(top, #a1d030, #88af28);
  background: -o-linear-gradient(top, #a1d030, #88af28);
  background: -ms-linear-gradient(top, #a1d030, #88af28);
  background: linear-gradient(top, #a1d030, #88af28);
  background-color: #88af28;
  border: #88af28 1px solid;
  padding: 8px 20px;
  display: inline-block;
  line-height: 1.2em;
  color: white;
  cursor: pointer;
  min-width: auto;
  max-width: 220px;
  text-decoration: none;
}
/* line 18, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.confirm:hover, button.confirm:hover, input[type="submit"].confirm:hover, input[type="button"].confirm:hover, a.button.confirm:hover {
  background: #8eb82a;
  border-color: #779b23;
}
/* line 23, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.confirm i, button.confirm i, input[type="submit"].confirm i, input[type="button"].confirm i, a.button.confirm i {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  line-height: .5em;
}
/* line 31, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.confirm.big i, .button.confirm.medium i, button.confirm.big i, button.confirm.medium i, input[type="submit"].confirm.big i, input[type="submit"].confirm.medium i, input[type="button"].confirm.big i, input[type="button"].confirm.medium i, a.button.confirm.big i, a.button.confirm.medium i {
  display: block;
  font-size: 50px;
  margin: 0 auto;
  padding: 10px;
}
/* line 40, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.confirm.medium i, button.confirm.medium i, input[type="submit"].confirm.medium i, input[type="button"].confirm.medium i, a.button.confirm.medium i {
  font-size: 34px;
}
/* line 45, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.confirm.disabled, button.confirm.disabled, input[type="submit"].confirm.disabled, input[type="button"].confirm.disabled, a.button.confirm.disabled {
  background: #EEE;
  border: #CCC 1px solid;
  color: #CCC;
  cursor: default;
}
/* line 52, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.confirm.print, button.confirm.print, input[type="submit"].confirm.print, input[type="button"].confirm.print, a.button.confirm.print {
  padding: 10px;
}
/* line 55, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.confirm.print i, button.confirm.print i, input[type="submit"].confirm.print i, input[type="button"].confirm.print i, a.button.confirm.print i {
  font-size: 1.5em;
}
/* line 60, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.confirm.app, button.confirm.app, input[type="submit"].confirm.app, input[type="button"].confirm.app, a.button.confirm.app {
  padding: 20px 10px;
  width: 150px;
  min-height: 90px;
  vertical-align: top;
  line-height: 1.3em;
  margin: 10px;
  text-align: center;
}
/* line 70, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.confirm.arrow, button.confirm.arrow, input[type="submit"].confirm.arrow, input[type="button"].confirm.arrow, a.button.confirm.arrow {
  position: relative;
  padding: 9px 5px;
  margin-left: -10px;
  background: #81a726;
  color: white;
  border-color: #BBB;
}
/* line 78, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.confirm.arrow i, button.confirm.arrow i, input[type="submit"].confirm.arrow i, input[type="button"].confirm.arrow i, a.button.confirm.arrow i {
  font-size: 2em;
}
/* line 82, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.confirm.arrow #arrow-button, button.confirm.arrow #arrow-button, input[type="submit"].confirm.arrow #arrow-button, input[type="button"].confirm.arrow #arrow-button, a.button.confirm.arrow #arrow-button {
  width: 0;
  height: 0;
  top: 0;
  right: -17px;
  border-bottom: 34px solid transparent;
  border-top: 33px solid transparent;
  border-left: 18px solid #81a726;
  position: absolute;
}
/* line 93, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.confirm.arrow #arrow-border-button, button.confirm.arrow #arrow-border-button, input[type="submit"].confirm.arrow #arrow-border-button, input[type="button"].confirm.arrow #arrow-border-button, a.button.confirm.arrow #arrow-border-button {
  width: 0;
  height: 0;
  top: 0;
  right: -18px;
  border-bottom: 34px solid transparent;
  border-top: 33px solid transparent;
  border-left: 18px solid #BBB;
  position: absolute;
}
/* line 104, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.confirm.arrow.disabled, button.confirm.arrow.disabled, input[type="submit"].confirm.arrow.disabled, input[type="button"].confirm.arrow.disabled, a.button.confirm.arrow.disabled {
  background: #EEE;
  border: #CCC 1px solid;
  color: #CCC;
  cursor: default;
}
/* line 110, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.confirm.arrow.disabled #arrow-button, button.confirm.arrow.disabled #arrow-button, input[type="submit"].confirm.arrow.disabled #arrow-button, input[type="button"].confirm.arrow.disabled #arrow-button, a.button.confirm.arrow.disabled #arrow-button {
  border-left: 18px solid #eee;
}
/* line 114, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.confirm.arrow.disabled #arrow-border-button, button.confirm.arrow.disabled #arrow-border-button, input[type="submit"].confirm.arrow.disabled #arrow-border-button, input[type="button"].confirm.arrow.disabled #arrow-border-button, a.button.confirm.arrow.disabled #arrow-border-button {
  border-left: 18px solid #ccc;
}
/* line 136, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.cancel, button.cancel, input[type="submit"].cancel, input[type="button"].cancel, a.button.cancel {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c41230), color-stop(100%, #9f0f27));
  background: -webkit-linear-gradient(top, #c41230, #9f0f27);
  background: -moz-linear-gradient(top, #c41230, #9f0f27);
  background: -o-linear-gradient(top, #c41230, #9f0f27);
  background: -ms-linear-gradient(top, #c41230, #9f0f27);
  background: linear-gradient(top, #c41230, #9f0f27);
  background-color: #9f0f27;
  border: #9f0f27 1px solid;
  padding: 8px 20px;
  display: inline-block;
  line-height: 1.2em;
  color: white;
  cursor: pointer;
  min-width: auto;
  max-width: 220px;
  text-decoration: none;
}
/* line 18, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.cancel:hover, button.cancel:hover, input[type="submit"].cancel:hover, input[type="button"].cancel:hover, a.button.cancel:hover {
  background: #a80f29;
  border-color: #870c21;
}
/* line 23, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.cancel i, button.cancel i, input[type="submit"].cancel i, input[type="button"].cancel i, a.button.cancel i {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  line-height: .5em;
}
/* line 31, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.cancel.big i, .button.cancel.medium i, button.cancel.big i, button.cancel.medium i, input[type="submit"].cancel.big i, input[type="submit"].cancel.medium i, input[type="button"].cancel.big i, input[type="button"].cancel.medium i, a.button.cancel.big i, a.button.cancel.medium i {
  display: block;
  font-size: 50px;
  margin: 0 auto;
  padding: 10px;
}
/* line 40, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.cancel.medium i, button.cancel.medium i, input[type="submit"].cancel.medium i, input[type="button"].cancel.medium i, a.button.cancel.medium i {
  font-size: 34px;
}
/* line 45, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.cancel.disabled, button.cancel.disabled, input[type="submit"].cancel.disabled, input[type="button"].cancel.disabled, a.button.cancel.disabled {
  background: #EEE;
  border: #CCC 1px solid;
  color: #CCC;
  cursor: default;
}
/* line 52, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.cancel.print, button.cancel.print, input[type="submit"].cancel.print, input[type="button"].cancel.print, a.button.cancel.print {
  padding: 10px;
}
/* line 55, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.cancel.print i, button.cancel.print i, input[type="submit"].cancel.print i, input[type="button"].cancel.print i, a.button.cancel.print i {
  font-size: 1.5em;
}
/* line 60, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.cancel.app, button.cancel.app, input[type="submit"].cancel.app, input[type="button"].cancel.app, a.button.cancel.app {
  padding: 20px 10px;
  width: 150px;
  min-height: 90px;
  vertical-align: top;
  line-height: 1.3em;
  margin: 10px;
  text-align: center;
}
/* line 70, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.cancel.arrow, button.cancel.arrow, input[type="submit"].cancel.arrow, input[type="button"].cancel.arrow, a.button.cancel.arrow {
  position: relative;
  padding: 9px 5px;
  margin-left: -10px;
  background: #81a726;
  color: white;
  border-color: #BBB;
}
/* line 78, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.cancel.arrow i, button.cancel.arrow i, input[type="submit"].cancel.arrow i, input[type="button"].cancel.arrow i, a.button.cancel.arrow i {
  font-size: 2em;
}
/* line 82, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.cancel.arrow #arrow-button, button.cancel.arrow #arrow-button, input[type="submit"].cancel.arrow #arrow-button, input[type="button"].cancel.arrow #arrow-button, a.button.cancel.arrow #arrow-button {
  width: 0;
  height: 0;
  top: 0;
  right: -17px;
  border-bottom: 34px solid transparent;
  border-top: 33px solid transparent;
  border-left: 18px solid #81a726;
  position: absolute;
}
/* line 93, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.cancel.arrow #arrow-border-button, button.cancel.arrow #arrow-border-button, input[type="submit"].cancel.arrow #arrow-border-button, input[type="button"].cancel.arrow #arrow-border-button, a.button.cancel.arrow #arrow-border-button {
  width: 0;
  height: 0;
  top: 0;
  right: -18px;
  border-bottom: 34px solid transparent;
  border-top: 33px solid transparent;
  border-left: 18px solid #BBB;
  position: absolute;
}
/* line 104, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.cancel.arrow.disabled, button.cancel.arrow.disabled, input[type="submit"].cancel.arrow.disabled, input[type="button"].cancel.arrow.disabled, a.button.cancel.arrow.disabled {
  background: #EEE;
  border: #CCC 1px solid;
  color: #CCC;
  cursor: default;
}
/* line 110, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.cancel.arrow.disabled #arrow-button, button.cancel.arrow.disabled #arrow-button, input[type="submit"].cancel.arrow.disabled #arrow-button, input[type="button"].cancel.arrow.disabled #arrow-button, a.button.cancel.arrow.disabled #arrow-button {
  border-left: 18px solid #eee;
}
/* line 114, ../../../../../compass/sass/reference/fragments/buttons.scss */
.button.cancel.arrow.disabled #arrow-border-button, button.cancel.arrow.disabled #arrow-border-button, input[type="submit"].cancel.arrow.disabled #arrow-border-button, input[type="button"].cancel.arrow.disabled #arrow-border-button, a.button.cancel.arrow.disabled #arrow-border-button {
  border-left: 18px solid #ccc;
}
