/* line 4, ../../../../../compass/sass/reference/fragments/dialogs.scss */
.dialog {
  width: 450px;
  padding: 0 0 30px 0;
  text-align: left;
  background: white;
  margin: 0 auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 2px 2px 15px #999999, -2px -2px 15px #999999;
  -webkit-box-shadow: 2px 2px 15px #999999, -2px -2px 15px #999999;
  -o-box-shadow: 2px 2px 15px #999999, -2px -2px 15px #999999;
  box-shadow: 2px 2px 15px #999999, -2px -2px 15px #999999;
}
/* line 13, ../../../../../compass/sass/reference/fragments/dialogs.scss */
.dialog .dialog-header {
  background: #501d3d;
  color: white;
  padding: 0 20px;
  padding-top: 5px;
  border-bottom: #050204 1px solid;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -khtml-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -khtml-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 22, ../../../../../compass/sass/reference/fragments/dialogs.scss */
.dialog .dialog-content {
  padding: 20px 30px 0 30px;
}
/* line 25, ../../../../../compass/sass/reference/fragments/dialogs.scss */
.dialog .dialog-content button.right {
  margin-left: 20px;
}
/* line 29, ../../../../../compass/sass/reference/fragments/dialogs.scss */
.dialog .dialog-content .dialog-instructions {
  padding-top: 1em;
  padding-bottom: 1em;
  font-style: italic;
}
/* line 35, ../../../../../compass/sass/reference/fragments/dialogs.scss */
.dialog .dialog-content h5 {
  margin: 0;
}
/* line 39, ../../../../../compass/sass/reference/fragments/dialogs.scss */
.dialog .dialog-content li {
  margin-bottom: 10px;
}
/* line 42, ../../../../../compass/sass/reference/fragments/dialogs.scss */
.dialog .dialog-content li.info {
  border-bottom: 1px solid #eee;
}
/* line 48, ../../../../../compass/sass/reference/fragments/dialogs.scss */
.dialog i {
  font-size: 1.5em;
  color: white;
  vertical-align: middle;
  display: inline-block;
}
/* line 55, ../../../../../compass/sass/reference/fragments/dialogs.scss */
.dialog h3 {
  display: inline-block;
  color: white;
  margin: 5px 0;
  vertical-align: text-top;
}
/* line 62, ../../../../../compass/sass/reference/fragments/dialogs.scss */
.dialog ul {
  margin-bottom: 40px;
}
/* line 66, ../../../../../compass/sass/reference/fragments/dialogs.scss */
.dialog select {
  display: block;
  margin: 5px 0;
  color: #003f5e;
  padding: 5px 0 5px 10px;
  background-color: #FFF;
  border: 1px solid #DDD;
}
/* line 74, ../../../../../compass/sass/reference/fragments/dialogs.scss */
.dialog select option {
  font-size: 1.5em;
}
/* line 79, ../../../../../compass/sass/reference/fragments/dialogs.scss */
.dialog.no-overlay {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: 1px solid #CCC;
  width: 60%;
  margin: 20px auto;
}
